---
---
<div class="w-full h-12 border-b border-[#18181b] flex justify-center items-center select-none">
    <div class="w-96 h-7 bg-black bg-opacity-20 rounded-md flex justify-center items-center">
        <div class="flex gap-2 justify-center items-center">
            <h2 class="text-sm font-normal tracking-[0.21px] text-[#3D3D3D]">dcwork.vercel.app</h2>
        </div>
    </div>
</div>