---
import BackgroundLayout from "../../layouts/BackgroundLayout.astro";
import { ViewTransitions } from "astro:transitions";
---

<BackgroundLayout title="Dhanush Chilakala">
  <main>
    <div class="text-9xl font-black uppercase mx-8">
      <div class="text-2xl font-medium capitalize flex gap-7">
        <a class="hover:opacity-70 duration-100" href="/">Home</a>
        <a class="hover:opacity-70 duration-100" href="/about-me">About Me</a>
        <a class="hover:opacity-70 duration-100 underline" href="/projects">Projects</a>
        <a class="hover:opacity-70 duration-100" href="/miscelleneous">Miscelleneous</a>
      </div>
      <div class="w-full h-36"/>
      <h1>Projects</h1>
    </div>
  </main>
</BackgroundLayout>
