---
import Rectangle from "../../components/Rectangle.astro";
import BackgroundLayout from "../../layouts/BackgroundLayout.astro";
import { ViewTransitions } from "astro:transitions";
---

<BackgroundLayout title="Dhanush Chilakala">
  <main class="mx-8">
    <div class="text-9xl font-black uppercase">
      <div class="text-2xl font-medium capitalize flex gap-7">
        <a class="hover:opacity-70 duration-100" href="/">Home</a>
        <a class="hover:opacity-70 duration-100 underline" href="/about-me"
          >About Me</a
        >
        <a class="hover:opacity-70 duration-100" href="/projects">Projects</a>
        <a class="hover:opacity-70 duration-100" href="/miscelleneous"
          >Miscelleneous</a
        >
      </div>
      <div class="w-full h-36"></div>
      <h1>About Me</h1>
      <h2 class="text-2xl font-bold">Who I am</h2>
      <div class="text-base font-medium normal-case w-[708px] text-justify">
        <p>
          I'm a high school senior who enjoys programming and robotics. I'm
          currently the Lead Programmer for my school's FIRST Tech Challenge
          team and FIRST Robotics Competition team. In my free time, I work on
          small coding projects, compete in hackathons, and speed cube.
        </p>
      </div>
    </div>
    <div class="flex gap-5">
      <Rectangle>
        <div class="flex justify-center align-middle items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M11.3466 2.22664C10.3318 1.63318 9.17559 1.32456 7.99998 1.33331C6.82436 1.32456 5.66817 1.63318 4.65331 2.22664C3.64516 2.80813 2.80813 3.64516 2.22664 4.65331C1.63318 5.66817 1.32456 6.82436 1.33331 7.99998C1.32456 9.17559 1.63318 10.3318 2.22664 11.3466C2.80813 12.3548 3.64516 13.1918 4.65331 13.7733C5.66817 14.3668 6.82436 14.6754 7.99998 14.6666C9.17559 14.6754 10.3318 14.3668 11.3466 13.7733C12.3548 13.1918 13.1918 12.3548 13.7733 11.3466C14.3668 10.3318 14.6754 9.17559 14.6666 7.99998C14.6754 6.82436 14.3668 5.66817 13.7733 4.65331C13.1918 3.64516 12.3548 2.80813 11.3466 2.22664V2.22664ZM7.99998 2.43998C9.29751 2.42711 10.5564 2.88144 11.5466 3.71998C10.8155 4.58718 9.87452 5.25275 8.81331 5.65331C8.22518 4.5532 7.49442 3.53552 6.63998 2.62664C7.08285 2.50352 7.54031 2.44073 7.99998 2.43998V2.43998ZM3.67331 4.53331C4.16053 3.91426 4.77714 3.40915 5.47998 3.05331C6.35764 3.94529 7.10704 4.95495 7.70664 6.05331C6.33467 6.45887 4.91062 6.66102 3.47998 6.65331C3.0982 6.65331 2.80931 6.64442 2.61331 6.62664C2.81763 5.8629 3.17861 5.15002 3.67331 4.53331V4.53331ZM2.43998 7.99998C2.43998 7.96464 2.43998 7.91998 2.44664 7.86664C2.45331 7.81331 2.45331 7.76864 2.45331 7.73331C2.62176 7.74176 2.87953 7.7462 3.22664 7.74664C4.90801 7.761 6.58137 7.51359 8.18664 7.01331C8.31153 7.2622 8.44042 7.5422 8.57331 7.85331C7.57219 8.11131 6.64528 8.59988 5.86664 9.27998C5.03331 9.92682 4.34322 10.7395 3.83998 11.6666C2.92795 10.6645 2.42794 9.35495 2.43998 7.99998V7.99998ZM7.99998 13.56C6.76577 13.5695 5.56564 13.1553 4.59998 12.3866C5.06212 11.5181 5.68941 10.7481 6.44664 10.12C7.14519 9.47089 7.9957 9.00781 8.91998 8.77331C9.43621 10.1992 9.78521 11.6803 9.95998 13.1866C9.33526 13.4309 8.67074 13.5575 7.99998 13.56V13.56ZM12.72 10.92C12.2836 11.6228 11.696 12.2195 11 12.6666C10.8414 11.2861 10.5329 9.927 10.08 8.61331C10.7022 8.56887 11.2578 8.54664 11.7466 8.54664C12.28 8.54664 12.8711 8.56887 13.52 8.61331C13.4336 9.43334 13.1599 10.2225 12.72 10.92V10.92ZM11.8933 7.58664C11.12 7.58664 10.4044 7.61776 9.74664 7.67998C9.5782 7.24487 9.42709 6.88487 9.29331 6.59998C10.4593 6.15842 11.4763 5.39565 12.2266 4.39998C13.0094 5.29998 13.4693 6.43557 13.5333 7.62664C12.9911 7.59998 12.4444 7.58664 11.8933 7.58664V7.58664Z" fill="black"/>
          </svg>
          <a>@flapeld</a>
        </div>
      </Rectangle>
      <Rectangle>
        <div class="flex justify-center align-middle items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M22 12.247C22.0006 14.3454 21.341 16.3909 20.1147 18.0937C18.8884 19.7965 17.1574 21.0704 15.167 21.735C14.66 21.835 14.48 21.521 14.48 21.254C14.48 20.926 14.492 19.847 14.492 18.511C14.5174 18.1717 14.47 17.831 14.3528 17.5116C14.2357 17.1921 14.0517 16.9015 13.813 16.659C16.041 16.411 18.379 15.566 18.379 11.724C18.3945 10.7307 18.0262 9.76968 17.351 9.041C17.6562 8.17817 17.6204 7.23136 17.251 6.394C17.251 6.394 16.413 6.125 14.504 7.419C12.8651 6.97102 11.1359 6.97102 9.497 7.419C7.587 6.125 6.747 6.394 6.747 6.394C6.37847 7.23156 6.34272 8.17803 6.647 9.041C5.97257 9.77011 5.6048 10.7309 5.62 11.724C5.62 15.556 7.954 16.414 10.175 16.666C9.81147 17.021 9.58634 17.494 9.54 18C9.29475 18.1381 9.02453 18.2262 8.745 18.2591C8.46547 18.2921 8.18218 18.2693 7.91153 18.192C7.64088 18.1147 7.38825 17.9845 7.16828 17.8089C6.9483 17.6333 6.76534 17.4158 6.63 17.169C6.46984 16.8928 6.24879 16.6567 5.98367 16.4787C5.71854 16.3008 5.41633 16.1856 5.1 16.142C5.1 16.142 4.123 16.129 5.031 16.75C5.56342 17.0897 5.95678 17.6086 6.14 18.213C6.14 18.213 6.726 20.157 9.508 19.553C9.513 20.388 9.522 21.016 9.522 21.253C9.522 21.518 9.339 21.827 8.839 21.735C7.09238 21.1531 5.5403 20.1002 4.35379 18.6925C3.16729 17.2849 2.39241 15.577 2.11455 13.757C1.83669 11.9371 2.06663 10.0758 2.77904 8.37815C3.49144 6.68055 4.65865 5.21256 6.15205 4.13593C7.64546 3.05931 9.40709 2.41585 11.2428 2.27645C13.0786 2.13705 14.9172 2.50713 16.556 3.34591C18.1949 4.18468 19.5704 5.45959 20.5309 7.03016C21.4915 8.60072 21.9999 10.406 22 12.247Z" fill="black"/>
          </svg>
          <a>@Ddundee</a>
        </div>
      </Rectangle>
      <Rectangle>
        <div class="flex justify-center align-middle items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M21 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2ZM8.078 18.737H5.085V9.737H8.078V18.737ZM6.582 8.5H6.562C6.34592 8.51695 6.12867 8.48868 5.92412 8.417C5.71957 8.34532 5.5322 8.2318 5.37396 8.08368C5.21572 7.93556 5.09008 7.75609 5.00506 7.55671C4.92003 7.35734 4.87749 7.14243 4.88014 6.9257C4.88279 6.70897 4.93058 6.49516 5.02045 6.29793C5.11033 6.10069 5.24031 5.92435 5.40213 5.78014C5.56395 5.63594 5.75404 5.52703 5.96028 5.46038C6.16652 5.39372 6.38439 5.37077 6.6 5.393C6.81604 5.37452 7.03357 5.40128 7.23869 5.47157C7.44381 5.54186 7.63202 5.65414 7.79132 5.80125C7.95062 5.94835 8.0775 6.12705 8.16387 6.32594C8.25024 6.52482 8.2942 6.73953 8.29295 6.95636C8.29169 7.17319 8.24525 7.38737 8.15658 7.58525C8.06791 7.78312 7.93897 7.96034 7.77797 8.10559C7.61698 8.25083 7.42748 8.36093 7.22155 8.42884C7.01563 8.49675 6.79781 8.52098 6.582 8.5ZM18.87 18.737H15.877V13.921C15.877 12.71 15.444 11.885 14.361 11.885C14.0236 11.8869 13.695 11.9931 13.4202 12.1889C13.1455 12.3847 12.9379 12.6607 12.826 12.979C12.7483 13.2145 12.7144 13.4623 12.726 13.71V18.737H9.734C9.734 18.737 9.774 10.577 9.734 9.737H12.726V11.01C12.9968 10.5386 13.3917 10.1506 13.8678 9.88824C14.3439 9.62586 14.8829 9.49918 15.426 9.522C17.395 9.522 18.872 10.809 18.872 13.575L18.87 18.737Z" fill="black"/>
          </svg>
          <a>@flapeld</a>
        </div>
      </Rectangle>
    </div>
    
  </main>
</BackgroundLayout>
